@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #153f2c;
}

div.container {
    position: absolute;
    overflow: hidden;
    width: 250px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: white;
    box-shadow: 10px 9px 15px 5px #113324d3;
    border-radius: 20px;
}

div.container img {
    position: absolute;
    height: 100%;
    width: 200%;
    left: -50%;
}

div.form { /*Ajustar formulário quando voltar...*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40%;
    padding: 10px;
    
    background-color: rgb(255, 255, 255);
}

div#titleform > h1 {
    font-size: 1.5em;
    text-align: center;
}

div#titleform > p {
    font-size: 0.9em;
    line-height: 15px;
}

#iemail, #ipassword {
    padding-left: 5px;
    width: 187px;
    height: 37px;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 4px;

    background-color: rgb(115, 191, 194);
    border: none;
    font-size: 17px;
    color: white;
    border-radius: 10px;
}

#iemail {
    color: black;
}

#iemail:enabled {
    background-color: white;
    color: black;
    
}

#ipassword:enabled {
    background-color: white;
    color: black;
    
}

#ientrar, #isenha {
    width: 230px;
    height: 40px;
    margin-top: -25px;
    margin-bottom: 1px;

    border-radius: 10px;
    font-size: 16px;
    border: 1px solid rgb(100, 168, 170);
}

#ientrar {
    background-color: rgb(100, 168, 170);
    color: white;
    margin-bottom: 5px;

}

#ientrar:hover {
    background-color: rgb(48, 80, 82);
}

#isenha {
    color: rgb(64, 106, 107);
    
    margin-top: 1px;
}

#isenha:hover {
    background-color: rgb(152, 255, 255);;
}

div.emapass {
    background-color: rgb(2, 112, 112);
    border-radius: 10px;
    margin-left: -2px;
    
    width: 235px;
}

div#empass1 {
    margin-bottom: 5px;
}

img#person {
    display: none;
    top: 40.5%;
    left: 2.8%;
    width: 40px;
}

img#key {
    display:none;
    top: 58.3%;
    left: 5%;
    width: 28px;
}

::-webkit-input-placeholder {
    padding-left: 3px;
}