@charset "UTF-8";

@media screen and (min-width: 768px) {
    body {
        background-image: linear-gradient(to bottom, hsl(153, 50%, 16%), #3db880);
        background-repeat: no-repeat;
        height: 100vh;
    }

    div.container {
        min-width: 600px;
        overflow: hidden;
        box-shadow: 5px 5px 15px 4px #153f2cc7;
        height: 256px;
    }

    form#formulario {
        position: absolute;
        border-radius: 0px 20px 20px 0px;
        top: -2%;
        left: 26%;
        width: 440px;
        height: 267px;
    }

    img#house {
        position: absolute;
        left: -13%;
        width: 300px;
        margin: -15px 0px 0px -15px;
        border-radius: 20px 0px 0px 20px;
    }

    div.emapass {
        width: 439px;
    }

    #ientrar, #isenha {
        width: 439px;
    }

    #iemail, #ipassword {
        width: 389px;
    }

    img#person {
        top: 33.5%;
        left: 1.8%;
        width: 40px;
    }

    img#key {
        top: 53.5%;
        left: 3%;
        width: 29px;
    }

    #isenha {
        color: rgb(64, 106, 107);
        
        margin-top: -2px;
    }
}

@media screen and (min-width: 992px) {

    div.container {
        min-width: 915px;
        min-height: 321px;
        height: 256px;
        overflow: hidden;
    }

    img#house {
        position: absolute;
        left: 50%;
        width: 488px;
        margin: -15px 0px 0px -15px;
        border-radius: 0px 20px 20px 0px;
    }

    form#formulario {
        left: -0.5%;
        top: -0.5%;
        border-radius: 20px 0px 0px 20px;
    }

    form#formulario > p {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    form#formulario > h1 {
        margin-bottom: 10px;
    }


    div.emapass {
        margin-top: 5px;
    }

    img#person {
        top: 38.5%;
        left: 1.8%;
        width: 40px;
    }

    img#key {
        top: 59.5%;
        left: 3%;
        width: 29px;
    }
}