@charset "UTF-8";

@media screen and (min-width: 768px) {
    body {
        background-image: linear-gradient(to bottom, hsl(153, 50%, 16%), hsl(154, 100%, 50%),#3edd95d7);
        background-repeat: no-repeat;
    }

    div.container {
        height: 275px;
        width: 80vw;

        box-shadow: 5px 5px 15px 4px #153f2cc7;
    }

    div.container img {
        position: absolute;
        left: -10%;
        width: 340px;
        height: 125%;
    }

    div.form {
        width: 70%;
        height: 100%;
        left: 30%;
        top: 0%;
    }

    div.emapass {
        width: 100%;
    }

    #iemail, #ipassword {
        left: 10%;
        width: 90%;
    }

    div#submit {
        width: 100%;
    }

    #ientrar, #isenha {
        width: 100%;
    }

    #isenha {
        color: rgb(64, 106, 107); 
    }
}

@media screen and (min-width: 992px) {

    div.container {
        max-width: 940px;
        min-height: 350px;
        overflow: hidden;
    }

    div.container img {
        position: absolute;
        left: 50%;
        width: 488px;
    }

    div.form {
        left: 0%;
        width: 50%;
    }

    div#titleform {
        font-size: 1.1em;
    }

    div#titleform > h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    div#titleform > p {
        margin-bottom: 20px;
        line-height: 22.5px;
    }

}